@font-face {
  font-family: cooper;
  src: url(./Cooperltbt.ff);
}

* {
  margin: 0;
  padding: 0;
  font-family: "Gilroy";
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: "cooper";
}

#main {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: antiquewhite; */
  background-color: #c2c0b5;
}

.frame span {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: baseline;
  height: 5vw;
  /* background-color: rgba(255, 255, 255, 1); */
  background-color: springgreen;
  text-align: center;
  font-size: 3vw;
  font-weight: 700;
  padding: 0 5vw;
  transform: translateY(-5vw);
}

.frame {
  position: relative;
  height: 5vw;
  z-index: 2;
  /* background-color: red; */
  overflow: hidden;
}

/* #nav {
  height: 100px;
  width: 100%;
  position: fixed;
  top: 0;
  background-color: rgba(28, 28, 28, 0.95);
  align-items: center;
  display: flex;
  padding: 0 40px;
  justify-content: space-between;
} */

#nav {
  height: 70px;
  width: 98vw;
  margin: auto;
  position: fixed;
  background-color: rgba(28, 28, 28, 0.95);
  align-items: center;
  display: flex;
  top: 10px;
  padding: 0 5vw;
  border-radius: 10px;
  --webkit-backdrop-filter: blur(5px);
  transform: translateY(0);
  --webkit-clip-path: inset(0.5vw 0.5vw 0.5vw 0.5vw round var(--radius));
  justify-content: space-between;
}

#nav #part2 {
  display: flex;
  align-items: center;
  justify-content: center;
}

#nav #part2 a {
  text-decoration: none;
  color: #fff;
  margin: 20px;
}

#nav #part2 a:nth-last-child(1) {
  /* background-color: yellowgreen; */
  padding: 7px 18px;
  border-radius: 50px;
  position: relative;
  overflow: hidden;
  border: 1px solid #fff;
}

#nav #part2 a {
  /* font-size: 28px; */
  color: #fff;
  text-decoration: none;
  transition: 0.3s all;
}

#nav #part2 a:hover {
  color: rgb(0, 174, 255);
}

#nav #part2 .hover-line::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: antiquewhite;
  transition: width 0.3;
}

#nav #part2 .hover-line:hover::after {
  width: 100%;
  transition: width 0.3s;
}

#nav > h1 {
  font-size: 20px;
  font-weight: 500;
  color: #fff;
}

#nav #part2 a:nth-last-child(1) #cream {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0%;
  left: -100%;
  /* background-color: springgreen; */
  background-color: rgba(255, 255, 255, 1);
  transition: left 0.4s ease;
}

#nav #part2 a:nth-last-child(1):hover #cream {
  left: 0;
}

#nav #part2 a:nth-last-child(1) h5 {
  font-weight: 100;
  position: relative;
  z-index: 99;
}

#main > h1 {
  font-size: 5.5vw;
  font-weight: 100;
  width: 60%;
  position: relative;
  /* z-index: 99; */
  left: 70px;
  background-color: red;
  text-transform: capitalize;
}

#main > h1::after {
  content: "";
  position: absolute;
  width: 35%;
  height: 16px;
  /* background-color: springgreen; */
  /* background-image: "./green.svg"; */
  background-image: url(https://thisisdigital.co.uk/dist/images/underline-green.svg);
  bottom: 0;
  background-size: cover;
  left: 32%;
  translate: translate(-50%, 0);
}

#main #img1 {
  height: 85%;
  /* background-color: yellow; */
  /* margin-left: 30px; */
  -webkit-transform: rotate(-15deg);
  -ms-transform: rotate(-15deg);
  transform: rotate(5deg);
}

#main #img2 {
  height: 200px;
  width: 200px;
  position: absolute;
  left: 72%;
  top: 18%;
}

#main #img3 {
  height: 210px;
  width: 200px;
  position: absolute;
  right: 7%;
  top: 56%;
}

#main img {
  transition: margin 0.4s ease;
}

#main img:hover {
  margin-top: 40px;
}

.bubbles img {
  width: 50px;
  animation: bubble 7s linear;
}

.bubbles {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  bottom: -70%;
}

@keyframes bubble {
  0% {
    transform: translateY(0);
    opacity: 0;
  }
  50% {
    transform: translateY(0);
    opacity: 1;
  }
  70% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-80vh);
    opacity: 0;
  }
}

.bubbles img:nth-child(1) {
  animation-delay: 2s;
  width: 25px;
}

.bubbles img:nth-child(2) {
  animation-delay: 1s;
}

.bubbles img:nth-child(3) {
  animation-delay: 3s;
  width: 25px;
}

.bubbles img:nth-child(4) {
  animation-delay: 4.5s;
}

.bubbles img:nth-child(5) {
  animation-delay: 3s;
}
.bubbles img:nth-child(6) {
  animation-delay: 6s;
  width: 20px;
}

.bubbles img:nth-child(1) {
  animation-delay: 2s;
  width: 20px;
}
